{% extends 'base.html' %}

{% block content %}

    {% for p in portfolios %}

        <h2><a href="{% url 'detail' p.id %}">{{ p.title }}</a></h2>
        <img src="{{p.image.url }}" alt="" class="img-fluid" width="400">
        <p>{{ p.description }}</p>

    {% endfor %}
{% endblock %}